body{
    background-color: rgb(32, 32, 34);
    color: lightskyblue ;
}

p{
    margin: 0;
    text-wrap: nowrap;
}

.object{
    border-top: solid yellow 2px;
    border-bottom: solid yellow 2px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    align-items: center;
    padding: 15px 0;
    width: min-content;
    min-width: 30px;
}

.object-key{
    padding: 0 5px;
    grid-column: 1/2;
    text-align: end;
}

.object-value-container{
    grid-column: 2/3;
}

.array{
    width: min-content;
    min-width: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.array-bracket{
    border: solid magenta 2px;
}

.array-toggle-direction-button{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 3px;
    background-color: gray;
    margin: auto;
}

.array-grid{
    min-height: 10px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    align-items: center;
}

.array-flexbox{
    display: flex;
    align-items: center;
    margin: 3px 0;
}

.array-flexbox > .array-value{
    margin: 0 3px;
}

.array-index{
    padding-right: 6px;
    text-align: end;
    grid-column: 1/2;
}

.array-flexbox > .array-index{
    display: none;
}

.array-value{
    grid-column: 2/3;
}

.array-comma{
    color: gray;
    font-size: x-large;
}

.array-grid > .array-comma{
    display: none;
}

.value{
    color: royalblue;
}

.string{
    color: rgb(255, 145, 90);
}

.selected{
    background-color: rgb(66, 66, 69);
}