body{
    background-color: rgb(32, 32, 34);
    color: lightskyblue ;
}

p{
    margin: 6px 0;
}

.object{
    border-top: solid yellow 2px;
    border-bottom: solid yellow 2px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 15px 0;
}

.object-key{
    padding: 0 15px;
    grid-column: 1/2;
    text-align: end;
}

.object-value{
    grid-column: 2/3;
}

.index-value{
    display: flex;
    margin: 0 5px;
}

.array{
    background-color: rgb(32, 32, 34);
}

.array-index{
    padding-right: 6px;
}

.value{
    color: royalblue;
}